{% extends 'template/main.twig' %}
{% block content %}
<h1>Hozzáférési kérelem</h1>
 <p>A {{ clientName }} alkalmazás szeretne hozzáférni az alábbi adataihoz:</p>
    {{ form_open('/consent/handle') }}

     <ul>
        {% for scope, scopename in scopes %}
         <li> {{ scopename }} </li>
        {% endfor %}
         </ul>
     <p><label for="accept">Engedélyezi?</label>
         <input type="checkbox" name="accept" id="accept" checked /></p>
     <input type="submit" value="Küldés"/>

    {{ form_close() }}

 {% endblock %}
