{% extends 'template/main.twig' %}
{% block content %}
    <h2>Kérem, válassza ki a használni kívánt bejelentkezési módot:</h2>
    <div class='providers'>
        <ul>
            <li class='provider'><a href="/consent/auth/elte">ELTE Központi Bejelentkezés</a></li>
            <li class='provider'><a href="/consent/home/login">Kooplex felhasználó</a></li>
        </ul>
    </div>
{% endblock %}
