{{template "base/head" .}}
<div class="user signin{{if .LinkAccountMode}} icon{{end}}">
			<div class="ui attached segment">
				<div class="oauth2 center">
					<div id="oauth2-login-loader" class="ui disabled centered  loader"></div>
					<div>
						<div id="oauth2-login-navigator">
							<p style="font-size: large;">{{.i18n.Tr "sign_in_with"}}</p>
							{{range $key := .OrderedOAuth2Names}}
								{{$provider := index $.OAuth2Providers $key}}
								<a href="{{AppSubUrl}}/user/oauth2/{{$key}}">
									<img
										alt="{{$provider.DisplayName}}{{if eq $provider.Name "openidConnect"}} ({{$key}}){{end}}"
										title="{{$provider.DisplayName}}{{if eq $provider.Name "openidConnect"}} ({{$key}}){{end}}"
										class="{{$provider.Name}}"
										src="{{AppSubUrl}}{{$provider.Image}}"
										onclick="window.onOAuthLoginClick()"
									></a>
							{{end}}
						</div>
					</div>
				</div>
			</div>
</div>
{{template "base/footer" .}}
